// Override default variables before the import
$font-family: Raleway;
$dark-theme: false !default;

$body-bg: #ffffff;
$default-bg: #ffffff;
$header-bg: #202020;
$header-shadow: #202020;
$default-bg: $body-bg;
$inverse-bg: #202020;
$overlay-color: #000000;
$text-color: #222222;
$text-inverse: #ffffff;
$text-muted: #CCCCCC;
$headings-color: #000000;
$modal-content-bg: #fafafa;
$modal-header-bg: #222222;
$modal-header-border: #222222;
$modal-footer-border-color: #dddddd;
$link-color: #31c6eb;
$yellow: #ffffcc;
$dark: #111111;
$hamburger-layer-color: #fff;

@if $dark-theme {
	$body-bg: #222222;
	$default-bg: #222222;
	$header-bg: #222222;
	$header-shadow: #333333;
	$default-bg: $body-bg;
	$inverse-bg: #ffffff;
	$overlay-color: #000000;
	$text-color: #ffffff;
	$text-inverse: #000000;
	$headings-color: #ffffff;
	$modal-content-bg: #222222;
	$modal-header-border-color: #555555;
	$modal-footer-border-color: #555555;
	$link-color: #ffffff;
	$yellow: #ffffcc;
	$dark: #111111;
	$hamburger-layer-color: #fff;
}


$primary: #31c6eb;
$danger: #c00;

$hamburger-layer-color: $primary;
$hamburger-hover-use-filter: true;

$grid-gutter-width: 4rem;

$grid-breakpoints: (
	xs: 0,
	sm: 960px,
	md: 1280px,
	lg: 1367px,
	xl: 1921px,
) !default;


$container-max-widths: (
	sm: 960px,
	md: 1200px,
	lg: 1300px,
	xl: 1600px,
) !default;

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
