@use 'sass:math';
@import "../var/defaults";
@import "../var/mixins";

$half-gutter: math.div($grid-gutter-width, 2);

svg.wave {
    height: 100px;
    width: 100%;
    path {
        fill: $header-bg;
    }
    rect {
        fill: white;
    }
}

.footer {
    background: $header-bg;
    color: $text-inverse;
    flex-shrink: 1;
    position: relative;

    > svg {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .copyright {
        width: 100%;
        text-align: center;
        font-size: 0.75rem;
        color: rgba($color: $text-muted, $alpha: 0.6);
        padding: math.div($grid-gutter-width, 4) 0;
        background: $dark;
    }

    > .footerTop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: $half-gutter;
        padding: $half-gutter 0;

        > .contactWrapper {
            width: 100%;
            padding: 0 math.div($grid-gutter-width , 2);
            border-left: 2px solid $primary;
            @include media-breakpoint-down(md) {
                border-left: none;
            }

            @include media-breakpoint-up(md) {
                padding: 0 0 0 $half-gutter;
                width: 50%;
            }

            h2.contactHeader {
                font-size: 2.5rem;
                font-weight: 800;
                color: $text-inverse;
                padding: 0;
                margin: 1rem 0 math.div($grid-gutter-width, 2) 0;
            }
        }

        > .quoteWrapper {
            width: 100%;
            padding: 0 math.div($grid-gutter-width , 4) 0 0;
            @include media-breakpoint-up(md) {
                width: 40%;
                padding: $grid-gutter-width * 1.75 math.div($grid-gutter-width , 4) 0 0;
            }
            font-size: 1.1rem;
            line-height: $half-gutter;
            color: $text-muted;
            text-align: right;
            opacity: 0.9;

            > strong {
                display: block;
            }

            > em {
                margin-bottom: math.div($grid-gutter-width, 4);
                display: block;
                @mixin useSameFont {
                    color: $text-muted;
                    font-size: $half-gutter;
                    font-family: Helvetica;
                    padding: 0 5px;
                    line-height: 1.8rem;
                }

                &::before {
                    content: '„';
                    @include useSameFont;
                }
                &::after {
                    content: '”';
                    @include useSameFont;
                }
            }
        }
    }
}
