@use "sass:math";
@import '../var/defaults';
@import '../var/mixins';

.header {
    width: 100%;
    margin: 0 auto;

    > div {

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
        padding: 0;
        @include media-breakpoint-down(md) {
            padding: 0 math.div($grid-gutter-width, 2);
        }
    }
    background: $header-bg;

    h1 {
        .logo {
            cursor: pointer;
            font-size: 2.5rem;
            color: $text-inverse;
        }
        font-weight: 800;
        flex: auto;
    }

    .navbar {
        flex: 1;
        min-width: 60%;
        @include media-breakpoint-down(md) {
            flex: auto;
            order: 1;
            text-align: right;
            display: flex;
            justify-content: flex-end;
            min-width: auto;
            justify-self: flex-end;
        }

        > ul {
            display: none;
            width: 100%;
            @include media-breakpoint-up(md) {
                display: flex;
                width: auto;
            }
            list-style: none;
            padding: 0;
            margin: 0;
            justify-content: center;

            li {
                margin: 0 math.div($grid-gutter-width, 4) 0 0;
                position: relative;
                a {
                    padding: math.div($grid-gutter-width, 8) math.div($grid-gutter-width, 4);
                    display: inline-block;
                    color: $text-inverse;
                    font-weight: lighter;
                    padding-bottom: calc(2px + 0.25rem);

                    &.active {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 0;

                        &::after {
                            content: '';
                            width: 75%;
                            height: 2px;
                            margin-top: 0.25rem;
                            background: $link-color;
                        }
                    }
                }

                > ul {
                    display: none;
                    position: absolute;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    background-color: $primary;
                    z-index: 102;
                    top: 100%;
                    left: 0;
                    width: 180px;

                    > li {
                        padding: 0;
                        margin: 0;
                        a {
                            border-bottom: 1px dotted rgba(255,255,255,.2);
                            padding: 10px math.div($grid-gutter-width, 4);
                            margin: 0;
                            display: block;
                            &:hover, &.activeSub {
                                background-color: $header-bg;
                            }
                        }
                    }
                }

                &:hover > ul {
                    display: block;
                    animation: fadeIn 0.3s ease-in;
                }
            }
        }
    }

    .social {
        flex: auto;
        justify-self: flex-end;
        text-align: right;
        @include media-breakpoint-down(md) {
            min-width: 50%;
        }

        a {
            padding: math.div($grid-gutter-width, 6);
            color: $text-muted;
            font-size: 1.2rem;
        }
    }
}


.hamburger {
    display: block;
    background-color: transparent;
    border: 0;
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: relative;

    @mixin  hamburger-line {
        display: block;
        height: 2px;
        background-color: $text-muted;
        width: 100%;
        margin: 10px 0;
        transition: all 0.4s ease-in-out;
    }

    &::before {
        transform-origin: top left;
        content: '';
        @include hamburger-line();
    }

    &::after {
        transform-origin: bottom left;
        content: '';
        @include hamburger-line();
    }
    > span {
        @include hamburger-line();
    }

    &:hover {
        &::after, &::before, >span {
            opacity: 0.80;
            background-color: $primary;
        }
    }

    &.active {

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

        >span {
            opacity: 0;
        }
    }

    @include media-breakpoint-up(md) {
        display: none;
    }
}
